# dependencies (bun install)
node_modules
.dev-tools

*.mid
*.diff

# output
out
dist
target
*.tgz
main.py
src-tauri/target
src-tauri/target/release

# code coverage
coverage
*.lcov

# logs
logs
*.log
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
/.temp
